<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="shortcut icon" href="/static/icons/1f47d.svg" type="image/x-icon">
</head>
<body class="bg-chatblack-50">
    <div class="flex h-[100vh] text-white">
        <div class="left bg-black w-2/12">
            left
        </div>
        <div class="right w-10/12 flex justify-center items-center flex-col">
            <div class="text-3xl font-bold">
                Legal Document Analyzer
            </div>
            <div class="input w-full text-center my-24">
                <input class="w-[40%] p-4 bg-gray-600 rounded-md" type="text" placeholder="Send a message" name="text" id="">
                <button >send</button>
            </div>
        </div>
    </div>
</body>
</html>